table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

.table{
  width: 80%;
  margin-left: 10%;
  
}

.btnActions, .btnActionsPesquisar{
  background: rgb(44, 172, 140);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 0px;
  
}

.btnActionsPesquisar{
  padding: 1px 8px;
}

.btnActions i{
  
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  display: block;
}



/* Darker background on mouse-over */
.btnActions:hover {
  color: white;
}

.btnActionsPesquisar:hover {
  color: white;
}


