body{
    font-family: sans-serif;
  }
  
  .fab{
    position: fixed;
    bottom:10px;
    right:10px;
  }
  .btn-secondary{
    background-color: rgb(130, 138, 135) !important;
  }
  .fab button{
    cursor: pointer;
    width: 48px;
    height: 48px;
    border-radius: 30px;
    background-color: rgb(44, 172, 140);
    border: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
    font-size: 24px;
    color: white;
      
    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    transition: .2s ease-out;
  }
  
  .fab button:focus{
    outline: none;
  }
  
  .fab button.main{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgb(44, 172, 140);
    right: 0;
    bottom: 0;
    z-index: 20;
  }
  
  .fab button.main:before{
    content: '+';
    
  }
  
  
  .fab button.main:active,
  .fab button.main:focus{
    outline: none;
    background-color: rgb(44, 172, 140);
    box-shadow: 0 3px 8px rgba(0,0,0,.5);
    
   }
   
  /*.fab button.main:active:before,
  .fab button.main:focus:before{
    content: '↑';
  }*/
  
  .fab button.main:active + ul,
  .fab button.main:focus + ul{
    bottom: 70px;
  }
  
  .fab button.main:active + ul li,
  .fab button.main:focus + ul li{
    margin-bottom: 10px;
    opacity: 1;
  }
  
  .fab button.main:active + ul li:hover label,
  .fab button.main:focus + ul li:hover label{
    opacity: 1;
  }

/*form cadastro LO*/
  .btn-save{
    background-color:rgb(44, 172, 140) !important;
    color: cornsilk !important;
  }


  
  .cadastro input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .modal-body {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
 
  .card-header{
    background: rgb(44, 172, 140);
    background: -webkit-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: -o-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: -moz-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    
}

.btnCadastrarLO{
  padding-right: 25px;
  padding-left: 25px;
}


/*-------------Anexos-------------------*/
.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: rgb(104, 209, 178);
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: rgb(50, 126, 111);
  color:#fff;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "LO anexada: ";
  font-style: normal;
  font-weight: normal;
}

.js .anexo-prorrogacao-return:not(:empty):before {
  content: "Prorrogação anexada: ";
  font-style: normal;
  font-weight: normal;
}

.anexoArea {
  padding-left: 45px;
}
.anexoProrrogacao{
  padding-left: 45px;
}
.input-file-container{
  width: 55%;
}
/*----------------Fim Anexo-----------*/



select.classSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

label[for=favcity] {
  position: relative;
  display: block;
  width: 200px;
  overflow: hidden;
  cursor: pointer;
}

label[for=favcity]::after {
  content: ' ';
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  height: 36px;
  display: block;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFAgMAAAABCpX7AAAACVBMVEUAAAAsuP8suP899h0QAAAAAnRSTlMAoKBFbtAAAAAcSURBVAjXY8haNYFBapUDA9tKBgbGJQwMDAEMADbjBE1jRaTxAAAAAElFTkSuQmCC') no-repeat center center;
  pointer-events: none;
}

label[for=favcity] select {
  color: rgb(112, 112, 112);
  border: 0px;
  border-bottom: 1px solid rgb(202, 201, 201);
  background: transparent;
  padding: 9px;
  width: 100%;
  cursor: pointer;
}

label[for=favcity] select:hover {
  border-bottom: 2px solid rgb(23, 148, 211);
}

label[for=favcity] select::-ms-expand {
    display: none;
}

label[for=favcity] :-moz-any(select) {
  width: 110%;
}

label[for=favcity].ie9 select {
  width: 110%;
}

label[for=favcity] select:focus {
  outline: 0px dotted #A9A9A9;
}

.favcity option {
    background-color: black;
    color: #fff;
}


