.camposEdit label{
  color: #26a69a;
font-size: 15px;
top: 0px;
pointer-events: none;
margin-right: 500px;

}

.linkLO{
  color: #8d9292!important;
}

.linkLO:hover{
  border-bottom: 2px solid #8d9292!important;
}

.divAnexos{
  text-align: left;
  font-size: 13px;
}



.js .anexo-prorrogacao-return-edit:not(:empty):before {
  content: "Prorrogação anexada: "!important;
  font-style: normal;
  font-weight: normal;
}

@media only screen and (min-width: 700px){
  
  .editarLO{
    width: 700px;
  }

  .conteudoModalEdit{
    width: 900px;
    right: 20%;
    
  }

  .nLO{
    top: 10px;
  }
}
