body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr:nth-child(odd) {
  background-color:#fff;
}  
table tr:nth-child(even) {
  background-color:rgb(207, 245, 235);
} 

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: rgb(44, 172, 140);
  background: -webkit-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
  background: -o-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
  background: -moz-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
  background: linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
  color: white;
}


.btnActions{
  background: rgb(44, 172, 140);
    background: -webkit-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: -o-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: -moz-linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
    background: linear-gradient(bottom, rgb(44, 172, 140), #68f5ee);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 0px;
  
}

.btnActions i{
  position: absolute;
  top: 50%;
  left: 50%;
  
  transform: translate(-50%, -50%);
  display: block;}

/* Darker background on mouse-over */
.btnActions:hover {
  background-color: rgb(72, 212, 67);
  color: white;
}

.paginacao li a{
  background-color: rgb(44, 172, 140)!important;
  color: white!important;
}
.paginacao li a:hover{
  background-color: rgb(99, 201, 175)!important;
}

.circulo-verde {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: rgb(13, 201, 54);
  background: -webkit-linear-gradient(bottom, rgb(29, 163, 58), #68f5ae);
  background: -o-linear-gradient(bottom,  rgb(29, 163, 58), #68f5ae);
  background: -moz-linear-gradient(bottom, rgb(29, 163, 58), #68f5ae);
  background: linear-gradient(bottom, rgb(29, 163, 58), #68f5ae);
}
.circulo-azul {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: rgb(13, 79, 201);
  background: -webkit-linear-gradient(bottom, rgb(29, 98, 163), #68a0f5);
  background: -o-linear-gradient(bottom,  rgb(29, 98, 163), #68a0f5);
  background: -moz-linear-gradient(bottom, rgb(29, 98, 163), #68a0f5);
  background: linear-gradient(bottom, rgb(29, 98, 163), #68a0f5);
}
.circulo-amarelo {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: rgb(187, 199, 27);
  background: -webkit-linear-gradient(bottom, rgb(188, 190, 39), #f6f872);
  background: -o-linear-gradient(bottom,  rgb(188, 190, 39), #f6f872);
  background: -moz-linear-gradient(bottom,  rgb(188, 190, 39), #f6f872);
  background: linear-gradient(bottom,  rgb(188, 190, 39), #f6f872);
}

.circulo-vermelho {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  width: 20px;
  background: rgb(199, 27, 27);
  background: -webkit-linear-gradient(bottom, rgb(190, 39, 39), #f87272);
  background: -o-linear-gradient(bottom,  rgb(190, 39, 39), #f87272);
  background: -moz-linear-gradient(bottom,  rgb(190, 39, 39), #f87272);
  background: linear-gradient(bottom,  rgb(190, 39, 39), #f87272);
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    
  }


  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}